1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

Ans.  *,-,/,+  -- expressions
      'hello',6,-87.8  --values

2. What is the difference between string and variable?

Ans. A variable can store everything from strings to numbers.
     eg:- var=3
     A string is the values inside the quotes assigned to a string.
     eg:- st="hello"

3. Describe three different data types.

Ans. String:- strings are sequence of character data.eg:- print("I am a string").
     Boolean:- It provieds the outcome as TRUE or FALSE.eg:- x=true
     Set:- It is unordered collection of data type that is mutable and has no duplicate elements.eg:- x={1,2,3,4,56,6,8}

4. What is an expression made up of? What do all expressions do?

Ans. An expression is collection of mathematical operators like *,/,-,+.
     they are used to perform mathematical operation.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans. A statement performs some action such as printing values , looping , or if statement.
     expressions produce values and we can assign these values to new variables.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Ans.  23

7. What should the values of the following two terms be?

'spam'+'spamspam'
'spam'*3

'spamspamspam'
'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Ans. Eggs are valid variable name while 100 is invalid because variable name should not start with a number.

9.What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans. for integer- int()
     for floating-point- float()
     for string- str()

10. Why does this expression cause an error? How can you fix it?
'I have eaten'+99+'burritos.'

Ans. this expression causes error because strings can be concatenated with string only not with integer.we can fix this by
'I have eaten'+str(99)+'burritos.'